@font-face {
    font-family: myFont;
    src: url(fonts/Boba\ Milky.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background: #DEDDCE;
    text-align: center;
    height: 100vh;
    font-family: myFont;
    
}

.title {
    padding: 4rem 4rem 16rem;
    font-size: 50px;
    margin: 0;
}

.tagline {
    padding: 0 4rem 1.5rem;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: .7px #303036;
}

.cta {
    padding: 0rem 4rem 3rem;
    font-size: 40px;
    margin: 0;
}

.action input {
    width: 200px;
    height: 200px;
    margin: 0 25px;
    border: 1px solid black;
    transition: all 0.4s ease-in;
}

.action input:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

.score-board {
    padding: 2rem 4rem 1.5rem;
    font-size: 40px;
    font-weight: bolder;
}

.results-container {
    font-size: 20px;
}

.restart-btn {
    display: none;
    padding: .5rem 1rem;
    margin-top: 1.2rem;
    font-size: 16px;
    border-radius: 5px;
    transition: 100ms;
}

.restart-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 15px 1px;
    color: rgb(179, 151, 99);
}

